<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Gestion Taxi</h3>
    </div>

    <ul class="list-unstyled components">
      <p>menu</p>
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Course</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Taxi</a>
          </li>
          <li>
            <a href="#">Yango</a>
          </li>
          <li>
            <a href="#">Véhicule location</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reparation</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Véhicule receptionné</a>
          </li>
          <li>
            <a href="#">Véhicule en panne</a>
          </li>
          <li>
            <a href="#">pièces des véhicule</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#paramSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">paramètre</a>
        <ul class="collapse list-unstyled" id="paramSubmenu">
          <li>
            <a href="#">Véhicule </a>
          </li>
          <li>
            <a href="#">Chauffeur</a>
          </li>

        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    <ul class="list-unstyled CTAs">
      <li>
        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
      </li>
      <li>
        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content" >
    <header class="header sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light " >
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="body" style="margin-top: 50px;">
      <app-taxi></app-taxi>
    </div>
  </div>
</div>

